

    <!-- partial:partials/_footer.html -->
    <footer>
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                <span class="tx-14">
                    <a href="https://appseed.us/admin-dashboards/flask-dashboard-material-admin">Flask Dashboard Material Admin</a> 
                </span>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex justify-content-end">
                <div class="d-flex align-items-center">
                    &copy; BootstrapDash
                </div>
            </div>
            </div>
        </div>
    </footer>
    <!-- partial -->
